/* # Front-end Style Guide

## Layout

The designs were created to the following widths:

- Mobile: 375px
- Desktop: 1440px

## Colors

### Primary

- Orange: hsl(25, 97%, 53%)

### Neutral

- White: hsl(0, 0%, 100%)
- Light Grey: hsl(217, 12%, 63%)
- Medium Grey: hsl(216, 12%, 54%)
- Dark Blue: hsl(213, 19%, 18%)
- Very Dark Blue: hsl(216, 12%, 8%)

## Typography

### Body Copy

- Font size (paragraph): 15px

### Font

- Family: [Overpass](https://fonts.google.com/specimen/Overpass)
- Weights: 400, 700
*/

/* styles for desktop devices */
@media only screen and (min-width: 1440px) {
  body {
    width: 15vw;
  }

}

/* styles for mobile devices */
@media only screen and (max-width: 375px) {
  body {
    width: 80vw;
  }

}

:root {
  --Orange: hsl(25, 97%, 53%);
  --White: hsl(0, 0%, 100%);
  --Light-Grey: hsl(217, 12%, 63%);
  --Medium-Grey: hsl(216, 12%, 54%);
  --Dark-Blue: hsl(213, 19%, 18%);
  --Very-Dark-Blue: hsl(216, 12%, 8%);
}

* {
  font-family: 'Overpass', serif;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: var(--Very-Dark-Blue);
  font-size: 15px;
  overflow-wrap: break-word;
  word-wrap: break-word;
  word-break: break-word;
  margin: auto;
}

div {
  background-color: var(--Dark-Blue);
  color: var(--White);

}

h1{
  font-size: 25px;
}

.star-icon {
  margin-right: 0.5rem;
  margin-top: 0.5rem;
  margin-bottom: 1rem;
  margin-left: 0.5rem;
  background-color: hsla(216, 12%, 54%, 0.1);
  padding: 1.5rem;
  border-radius: 50%;
  border-style: none;
  display: inline-flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 1rem;
  height: 1rem;

}

.container {
  border-radius: 15px 15px 15px 15px;
  padding: 5%;
  margin: auto;
  size-adjust: unset;
  display: block;
  align-items: center;

}


.text{
  margin-left: 1rem;
  padding-bottom: 1rem;
}

p{
  font-size: 13px;
  color: var(--Medium-Grey);

}


.rating-box.inactive{
  display: none;
  
}

.ratings {
  display: flex;
  padding: 0.5rem;
  margin-bottom: 1rem;
}

.rating-item {
  margin: 0.5rem;
  background-color: hsla(216, 12%, 54%, 0.1);
  padding: 1rem;
  border-radius: 50%;
  border-style: none;
  display: inline-flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 1rem;
  height: 1rem;
  color: var(--White);

}

.submit{
  background-color: var(--Orange);
  width: 90%;
  border-radius: 99em;  
  border-style: none;
  padding: 0.5em;
  margin-left: 0.5rem;
  color: var(--White);
  text-transform: uppercase;
}

.rating-item:hover{
  background-color: var(--Medium-Grey);

}

.rating-item.active{
  background-color: var(--Orange);

}

.submit:hover{
  background-color: var(--White);
  color: var(--Orange);
}

.selected-value{
  display: inline;
}


.thank-you:not(.active){
  display: none;
}

.thank-you.active{
  display: block;
  text-align: center;
  margin: auto;
  padding: 2rem;
}


.app-icon{
  padding-bottom: 1rem;
}

.results{

  background-color: hsla(216, 12%, 54%, 0.1);
  border-radius: 9em;  
  width: fit-content;
  border-style: none;
  padding: 0.5rem 0.9em;
  margin-left: 5em;
  margin-bottom: 1em;
  margin-top: 1em;
  font-size: smaller;
  color: var(--Orange);

}

.results p{

  color: var(--Orange);

}

.thank-you-text{
  padding-bottom: 1rem;
  font-size: larger;
  font-weight: bold;
}

.thank-you:last-child{
  padding-bottom: 1rem;
  padding-left: 0;
  padding-right: 0;
}

.final-text{
  font-size: smaller;
  color: var(--Medium-Grey);
  padding-bottom: 1rem;

}



